%ul.nav.nav-list.bs-docs-sidenav
  %li{:class => (controller_name=="deploy_data" and action_name!="index"?"active":nil)}
    %a{:href=>new_deploy_datum_path}
      %i.icon-chevron-right
      新建上线单
  %li{:class => (controller_name=="deploy_data" and action_name=="index"?"active":nil)}
    %a{:href=>deploy_data_path}
      %i.icon-chevron-right
      上线单管理
  %li{:class => (controller_name=="deploy_machines"?"active":nil)}
    %a{:href=>deploy_machines_path}
      %i.icon-chevron-right
      部署机器管理
  %li{:class => (controller_name=="auto_deploy"?"active":nil)}
    %a{:href=>auto_deploy_index_path}
      %i.icon-chevron-right
      自动化部署
