%ul.nav.nav-list.bs-docs-sidenav
  %li.active
    %a{:href=>"#"}
      %i.icon-chevron-right
      Online Group
  %li
    %a{:href=>"#"}
      %i.icon-chevron-right
      Offline Group
  %li
    %a{:href=>"#"}
      %i.icon-chevron-right
      Flow Group
