%ul.nav.nav-list.bs-docs-sidenav
  %li{:class => (request.url=~/online/ ? "active" : nil)}
    %a{:href=>"/recommend_configs?owner=online&table=#{get_owner_first_table("online")}"}
      %i.icon-chevron-right
      Online Group
  %li{:class => (request.url=~/offline/ ? "active" : nil)}
    %a{:href=>"/recommend_configs?owner=offline&table=#{get_owner_first_table("offline")}"}
      %i.icon-chevron-right
      Offline Group
  %li{:class => (request.url=~/flow/ ? "active" : nil)}
    %a{:href=>"/recommend_configs?owner=flow&table=#{get_owner_first_table("flow")}"}
      %i.icon-chevron-right
      Flow Group
