.row
  .span3
    %ul.nav.nav-list.bs-docs-sidenav
      %li.active
        %a{:href=>"#"}
          %i.icon-chevron-right
          Online Group
      %li
        %a{:href=>"#"}
          %i.icon-chevron-right
          Offline Group
      %li
        %a{:href=>"#"}
          %i.icon-chevron-right
          Flow Group

  .span9
    %section.page-content
      .row
        .span1.offset7
          %button.btn.btn-primary{:type=>"submit"} Save
        .span1
          %button.btn.btn-primary{:type=>"submit"} New
      %ul.nav.nav-tabs
        %li.active= link_to "Algorithm", root_path
        %li= link_to "Filter", root_path
        %li= link_to "Rerank", root_path
        %li= link_to "Summary", root_path
  
      %p
        Use this document as a way to quick start any new project.
        %br
        All you get is this message and a barebones HTML document.
