.row
  .span3
    %ul.nav.nav-list.bs-docs-sidenav
      %li.active
        %a{:href=>"#"}
          %i.icon-chevron-right
          Home
      %li
        %a{:href=>"#"}
          %i.icon-chevron-right
          Home

  .span9
    %section.page-content
      .row
        .span1.offset5
          %button.btn.btn-primary{:type=>"submit"} 新增
        .span1
          %button.btn.btn-primary{:type=>"submit"} 新增
        .span1
          %button.btn.btn-primary{:type=>"submit"} 新增
        .span1
          %button.btn.btn-primary{:type=>"submit"} 新增
      %ul.nav.nav-tabs
        %li.active= link_to "Home", root_path
        %li= link_to "Profile", root_path
        %li= link_to "Messages", root_path
  
      %h1 Bootstrap starter template
      %p
        Use this document as a way to quick start any new project.
        %br
        All you get is this message and a barebones HTML document.
  
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
      %p Use this document as a way to quick start any new project.
