%br
%br
.hero-unit
  %h2 推荐系统配置和部署中心 V0.1
  %h4
    %i.icon-ok
    动态库表: 
  %h6 支持动态添加、删除数据库表，修改数据库表Schema
  %h4
    %i.icon-ok
    动态表单: 
  %h6 根据自定义的数据库表Schema动态生成配置数据编辑表单
  %h4
    %i.icon-ok
    配置编辑器: 
  %h6 支持配置项分组、数据默认值、候选下拉菜单等易用功能
  %h4
    %i.icon-ok
    数据库分组：
  %h6 为各组同学提供不同的逻辑数据库，各组同学工作互不影响
  %h4
    %i.icon-ok
    数据版本控制: 
  %h6 Trunk版本数据提供编辑功能，还可以存储为Tag版本数据
  %h4
    %i.icon-ok
    转存XML文件: 
  %h6 支持以数据库表的每个Tag版本数据为单位Dump成XML文件
  %h4
    %i.icon-ok
    数据Web服务: 
  %h6 支持Web访问Dump出的数据文件，提供数据的自动更新服务
  %h4
    %i.icon-time
    帮助手册
  %h4
    %i.icon-time
    自动化发布
  %h4
    %i.icon-time
    自动化部署
  %h4
    %i.icon-time
    批量导入数据
  %h4
    %i.icon-time
    用户权限控制
