.row
  .span3
    %ul.nav.nav-list.bs-docs-sidenav
      %li.active
        %a{:href=>"#"}
          %i.icon-chevron-right
          Online Group
      %li
        %a{:href=>"#"}
          %i.icon-chevron-right
          Offline Group
      %li
        %a{:href=>"#"}
          %i.icon-chevron-right
          Flow Group

  .span9
    %section.page-content
      .row
        .span1.offset7
          %button.btn.btn-success{:type=>"submit"} Save
        .span1
          %button.btn.btn-primary{:type=>"submit"} New
      %ul.nav.nav-tabs
        %li.active= link_to "Algorithm", root_path
        %li= link_to "Filter", root_path
        %li= link_to "Rerank", root_path
        %li= link_to "Summary", root_path

      %table.table
        %tr
          %th id
          %th name
          %th type
          %th operation

        %tr
          %td 1
          %td meishichina.com
          %td domain
          %td
            %button.btn.btn{:type=>"submit"} Show
            %button.btn.btn-info{:type=>"submit"} Edit
            %button.btn.btn-danger{:type=>"submit"} Delete
        %tr
          %td 2
          %td book.zongheng.com
          %td host
          %td
            %button.btn.btn{:type=>"submit"} Show
            %button.btn.btn-info{:type=>"submit"} Edit
            %button.btn.btn-danger{:type=>"submit"} Delete
        %tr
          %td 3
          %td ent.cn.yahoo.com/newspic
          %td path
          %td
            %button.btn.btn{:type=>"submit"} Show
            %button.btn.btn-info{:type=>"submit"} Edit
            %button.btn.btn-danger{:type=>"submit"} Delete
