.row
  .span3
    = render "shared/editor_sidebar"

  .span9
    %section.page-content
      %h1 Editing site
      
      = render 'form'
      
      = link_to 'Show', @site, :class=>"btn"
      = link_to 'Back', sites_path, :class=>"btn"
